:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor:hwb(187 6% 20%);
    --gradientColor: linear-gradient(to right, hsl(187,85%,43%),hsl(199,100%,33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor:hsl(240, 4%, 36%);
    --whiteColorDeam:hsl(0, 0%, 93%);
    --greyText:rgb(190, 190, 190);
    --inputColor:rgb(239, 239, 239);
    --bodyColor:rgb(240, 240, 246);
    --cardBG:rgb(225, 225, 235);
}


.requestformDiv {
    flex-basis: 50%;
    margin: auto;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateY(1.5rem);
    background: var(--cardBG);
    width: 50%;
    box-shadow: 0 2px 4px  rgba(2, 15, 29, 0.589);
    
}

.requestformDiv .headerDiv{
    text-align: center;
    padding: 1.5rem 0;
}

.requestformDiv .headerDiv .logo{
    color: var(--PrimaryColor);
    
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.requestformDiv .headerDiv .logo .icon{
    font-size: 50px;
    color: var(--SecondaryColor);
    transform: translateY(5px);
}

.requestformDiv h3{
    font-size: 25px;
    color: var(--textColor);
    font-weight: 600;
}

.requestformDiv .form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 18px;
    
    
}


.requestformDiv .inputDiv .icon{
    color: var(--greyText);

}

.requestformDiv .inputDiv input{
    background: none;
    outline: none;
    border: none;
    width: 200px;
}

.requestformDiv .inputDiv label{
    color: var(--blackColor);
    font-weight: 500;
    font-size: 14px;
    padding: .5rem 0;
    display: block;
}

.requestformDiv .inputDiv .input{
    gap: .5rem;
    padding: .7rem;
    background: var(--inputColor);
    border-radius: 10px;
}

.requestformDiv .btn{
    padding: .6rem;
    border-radius: 10px;
    color: var(--whiteColor);
    align-items: center;
    margin: 15px auto;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    gap: .5rem;
    transition: .3s ease;
    
}

.requestformDiv .btn .icon{
    font-size: 25px;
    transition: .3s ease;
}

.requestformDiv .btn .icon:hover{
    
    color: var(--blackColor);
}

.requestformDiv .btn .icon:hover .icon{
    color: var(--blackColor);
    transform: translateX(5px);
}