:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor:hwb(187 6% 20%);
    --gradientColor: linear-gradient(to right, hsl(187,85%,43%),hsl(199,100%,33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor:hsl(240, 4%, 36%);
    --whiteColorDeam:hsl(0, 0%, 93%);
    --greyText:rgb(190, 190, 190);
    --inputColor:rgb(239, 239, 239);
    --bodyColor:rgb(240, 240, 246);
    --cardBG:rgb(225, 225, 235);
    --cardHover: rgb(255, 255, 255);
}
.complaints{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.complaints h1{
    padding: 10px 20px;
}
.complaints .mainhead1{
    color: var(--PrimaryColor);
    font-size: 30px;
    font-weight: 300;
    padding: 5px 10px;
    margin-top: 10px;
}
.complaints .form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    
}
.complaints .form .inputDiv{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
}

.complaints .inputDiv .icon{
    color: var(--greyText);

}
.complaints .inputDiv input{
    background: none;
    outline: none;
    border: none;
    width: 200px;
}

.complaints .inputDiv .input{
    gap: .5rem;
    padding: .7rem;
    background: var(--inputColor);
    border-radius: 10px;
    box-shadow: 0 2px 4px  rgba(2, 15, 29, 0.315)
}

.complaints .btn{
    padding: .8rem;
    border-radius: 10px;
    color: var(--whiteColor);
    align-items: center;
    margin: 1rem;
    justify-content: center;
    font-size: 16px;
    width: 20%;
    gap: .5rem;
    
    transition: .3s ease;
}

.complaints .btn .icon{
    font-size: 25px;
    transition: .3s ease;
}

.complaints .btn .icon:hover{
    
    color: var(--blackColor);
}

.complaints .btn .icon:hover .icon{
    color: var(--blackColor);
    transform: translateX(5px);
}