:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor:hwb(187 6% 20%);
    --gradientColor: linear-gradient(to right, hsl(187,85%,43%),hsl(199,100%,33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor:hsl(240, 4%, 36%);
    --whiteColorDeam:hsl(0, 0%, 93%);
    --greyText:rgb(190, 190, 190);
    --inputColor:rgb(239, 239, 239);
    --bodyColor:rgb(240, 240, 246);
    --cardBG:rgb(225, 225, 235);
    --cardHover: rgb(255, 255, 255);
}

.main{
    width: 100%;
    
}

.main .secTitle .title{
    position: relative;
    width: max-content;
    color: var(--textColor);
    margin: 1rem 0;
    z-index: 2;
}

.main .secTitle .title::after{
    position: absolute;
    content: '';
    background: var(--SecondaryColor);
    height: 5px;
    width: 120px;
    right: 0;
    bottom: 5px;
    z-index: -1;
}

.main .secContent{
    justify-content: center;
    gap: 1.5rem;
}

.main .secContent .singleDestination{
    height: 93%;
    width: 60%;
    display: grid;
    row-gap: 10px;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
    background: var(--cardBG);
    box-shadow: 0 2px 4px rgba(239, 239, 243, 0.549);
    overflow: hidden;
}

.main .secContent .singleDestination:hover{
    background: var(--cardHover);
    box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
    transition: .3s ease;
}

.main .secContent .singleDestination .imageDiv{
    height: 155px;
    width: 94%;
    object-fit: cover;
    transition: 2s ease;
}

.main .secContent .singleDestination .imageDiv img{
    height: 163px;
    width: 100%;
    object-fit: cover;
    transition: 2s ease;
}

.main .secContent .singleDestination .imageDiv:hover{
    transform: scale(0.5);
}

.main .secContent .singleDestination .cardInfo{
    padding: 1rem;
    
}

.main .secContent .singleDestination .cardInfo .iconTitle{
    color: var(--blackColor);
    font-size: 1rem;
}

.main .secContent .singleDestination .cardInfo .desc{
    font-size: 13.5px;
    color: var(--textColor);
    font-weight: 500;
}

.main .secContent .singleDestination .cardInfo .btn{
    margin-top: 1rem;
    color: var(--whiteColor);
    font-weight: 600;
    justify-content: space-between;
    gap: .5rem;
    
}

.main .secContent .singleDestination .cardInfo .btn .icon{
    align-self: center;
    font-size: 10px;
}

@media screen and (min-width: 500px) {
    .main .title{
        font-size: 1.5rem;
    }

    .main .title::after{
        width: 155px !important;
    }
    
    .main .secContent{
        grid-template-columns: repeat(2,1fr);
    }
    
    .main .secContent .singleDestination{
        height: auto;
    }

    
}

@media screen and (min-width: 840px) {
    .main .secContent{
        grid-template-columns: repeat(3,1fr);

    }

    .main .secContent .singleDestination{
        height: auto;
    }
}